MONGO_URI=mongodb://mongo:27017/gems?replicaSet=rs0
MONGO_DB_NAME=gems

MONGO_URI_LOCAL=mongodb://localhost:27017/gems?replicaSet=rs0

WEB_DIR=/web

RESEND_API_KEY=
OTP_FROM_EMAIL=onboarding@resend.dev

OTP_TTL_SECONDS=300
OTP_RESEND_COOLDOWN_SECONDS=30
OTP_MAX_RESENDS=3
OTP_MAX_ATTEMPTS=5
